# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc
*.py[cod]

# Environment Variables
.env
.env.*
!.env.example

# Firebase Credentials
firebase/service-account.json
app/core/service-account.json

# Pytest
.pytest_cache/

# VS Code
.vscode/

# Node
node_modules/

# Uploads
uploads/